#THEORY QUESTIONS

#Q1.What are data structures, and why are they important?

   ->Data structures are specialized formats for organizing, storing, and accessing collections of data. They provide efficient ways to manage information based on its characteristics and intended us.

#Q2.Explain the difference between mutable and immutable data types with example?

    ->Mutable data types are those whose values can be changed or modified after creation.
    Ex: Lists, dictionaries, sets.
    whereas Immutable data types are those whose values cannot be changed or modified once they are created.
    Ex: Strings, tuples, numbers (integers, floats).

#Q3.What are the main differences between lists and tuples in Python?  
    ->Lists: Mutable (can be modified) whereas
    Tuples: Immutable (cannot be  modified).

    Lists: Defined using square brackets [] whereas
    Tuples: Defined using parentheses ().

    Lists: Generally slower due to mutability whereas
    Tuples: Generally faster due to immutability

    Lists: Many methods available (e.g., append(), remove())
    Tuples: Fewer methods available (e.g., count(), index()).

#Q4.Describe how dictionaries store data?

    ->Dictionaries in Python store data as key-value pairs using a hash table. Each key is hashed to a unique index in the table, allowing for fast retrieval of values by their associated keys. This structure ensures efficient data access, insertion, and deletion operations.


#Q5.Why might you use a set instead of a list in Python?

    ->We might use a set instead of a list in Python when you need to store unique elements and perform fast membership tests. Sets automatically handle duplicates and provide faster lookups compared to listsand they are ideal for scenarios where you need to ensure that all elements are unique and perform frequent membership checks.
    


#Q6.What is a string in Python, and how is it different from a list?

    ->A string in Python is a sequence of characters enclosed in quotes. Strings can be defined using single quotes (') or double quotes (").

    String: A string is immutable, meaning once it is created, it cannot be changed whereas a
    List: A list is mutable, so you can modify it after its creation.

#Q7.How do tuples ensure data integrity in Python?

    ->Tuples maintain data integrity in Python through their immutability. Once a tuple is created, you can't change its contents. This characteristic ensures that the data remains consistent and protected from accidental changes throughout the program.


#Q8.What is a hash table, and how does it relate to dictionaries in Python?

    ->A hash table is a data structure that stores data using a key-value system.

    In Python, dictionaries are built on hash tables. When you add a key-value pair to a dictionary, Python uses a special function (hash function) to decide which compartment (bucket) to store the value in. This makes it easy and fast to find the data later.

#Q9.Can lists contain different data types in Python?

    ->Yes, lists in Python can contain different data types. You can mix integers, strings, floats, and even other lists within a single list.

#Q10. Explain why strings are immutable in Python?
    
    ->Strings are immutable in Python to enhance performance and memory efficiency. Since strings are widely used, immutability allows for safer handling, reducing unexpected bugs.    

#Q11.What advantages do dictionaries offer over lists for certain tasks?

    -> Dictionaries provide fast lookups, insertions, and deletions based on unique keys. They are ideal for tasks that require quick access to data using a specific identifier, like a phone book or a database of user information.

#Q12. Describe a scenario where using a tuple would be preferable over a list?

    -> We can use a tuple when you need an immutable sequence of elements, such as storing coordinates (latitude, longitude) . Tuples ensure the data remains unchanged.

#Q13.How do sets handle duplicate values in Python?

    -> Sets automatically eliminate duplicate values. When you add elements to a set, any duplicates are removed, talin care of that all elements are unique.  

#Q14.How does the “in” keyword work differently for lists and dictionaries?
    -> For lists, the in keyword checks if an element exists within the list.
    whereas for dictionaries, it checks if a key is present. Example:
    my_list = [1, 2, 3]
    my_dict = {'a': 1, 'b': 2}
    print(2 in my_list)  )
    print('a' in my_dict)  )

#Q15. Can you modify the elements of a tuple? Explain why or why not?

    -> No, you cannot modify the elements of a tuple because tuples are immutable.Immutability ensures the contents remain constant after creation.   

#Q16.What is a nested dictionary, and give an example of its use case?

    -> A nested dictionary is a dictionary within another dictionary. It's useful for organizing complex data, Ex:

    students = {
    "Bhuvan": {"age": 20, "grade": "A"},
    "Pavan": {"age": 19, "grade": "A"}
    }
    print(students["Bhuvan"]["age"])


#Q17. Describe the time complexity of accessing elements in a dictionary.  

    -> The time complexity of accessing elements in a dictionary is O(1) on average, due to the underlying hash table structure, which provides constant-time lookups.

#Q18.In what situations are lists preferred over dictionaries?

    -> Lists are preferred when you need an ordered collection of items and where order matters, such as maintaining a sequence of events or storing a list of items to iterate over.

#Q19.Why are dictionaries considered unordered, and how does that affect data retrieval?

    -> Dictionaries are considered unordered because the elements are not stored in a sequence but based on the hash of their keys. This means you cannot access items by their position, only by their keys, affecting the way you retrieve data.

#Q20.Explain the difference between a list and a dictionary in terms of data retrieval.

    -> In a list, you can retrieve data using an index within the sequence. In a dictionary, you retrieve data using a key.
    Lists are accessed by position, while dictionaries are accessed by unique identifiers.

#Practical Questions

In [2]:
#Q1.Write a code to create a string with your name and print it.
my_name = "Themballi Bhuvan"
print(my_name)

Themballi Bhuvan

In [4]:
#Q2.Write a code to find the length of the string "Hello World".
string_length = len("Hello World")
print(string_length)

11

In [6]:
#Q3.Write a code to slice the first 3 characters from the string "Python Programming".
s_string = "Python Programming"[:3]
print(s_string)

Pyt

In [8]:
#Q4.Write a code to convert the string "hello" to uppercase.
uppercase_string = "hello".upper()
print(uppercase_string)

HELLO

In [10]:
#Q5.Write a code to replace the word "apple" with "orange" in the string "I like apple"E.
replace_string = "I like apple".replace("apple", "orange")
print(replace_string)

I like orange

In [11]:
#Q6.Write a code to create a list with numbers 1 to 5 and print it.
numbers_list = [1, 2, 3, 4, 5]
print(numbers_list)

[1, 2, 3, 4, 5]

In [13]:
#Q7.Write a code to append the number 10 to the list [1, 2, 3, 4].
a_list = [1, 2, 3, 4]
a_list.append(10)
print(a_list)

[1, 2, 3, 4, 10]

In [14]:
#Q8. Write a code to remove the number 3 from the list [1, 2, 3, 4, 5].
a_list = [1, 2, 3, 4, 5]
a_list.remove(3)
print(a_list)

[1, 2, 4, 5]

In [15]:
#Q9.Write a code to access the second element in the list ['a', 'b', 'c', 'd'].
a_list = ['a', 'b', 'c', 'd']
second_element = a_list[1]
print(second_element)

b

In [16]:
#Q10.Write a code to reverse the list [10, 20, 30, 40, 50].
a_list = [10, 20, 30, 40, 50]
a_list.reverse()
print(a_list)

[50, 40, 30, 20, 10]

In [32]:
#Q11. Write a code to create a tuple with the elements 10, 20, 30 and print it.
a_tuple = (10, 20, 30)
print(a_tuple)

(10, 20, 30)

In [17]:
#Q12, Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
a_tuple = ('apple', 'banana', 'cherry')
print(a_tuple[0])

apple

In [18]:
#Q13. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
a_tuple = (1, 2, 3, 2, 4, 2)
count_2 = a_tuple.count(2)
print(count_2)

3

In [20]:
#Q14.Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
a_tuple = ('dog', 'cat', 'rabbit')
index_cat = a_tuple.index('cat')
print(index_cat)

1

In [21]:
#Q15. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
a_tuple = ('apple', 'orange', 'banana')
is_banana = 'banana' in a_tuple
print(is_banana)

True

In [23]:
#Q16. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
a_set = {1, 2, 3, 4, 5}
print(a_set)

{1, 2, 3, 4, 5}

In [24]:
#Q17. Write a code to add the element 6 to the set {1, 2, 3, 4}.
a_set = {1, 2, 3, 4}
a_set.add(6)
print(a_set)

{1, 2, 3, 4, 6}

In [25]:
#Q18. Write a code to create a tuple with the elements 10, 20, 30 and print it.
a_tuple = (10, 20, 30)
print(a_tuple)

(10, 20, 30)

In [26]:
#Q19. Write a code to access the first element of the tuple ('apple', 'banana', 'cherry').
a_tuple = ('apple', 'banana', 'cherry')
print(a_tuple[0])

apple

In [27]:
#Q20. Write a code to count how many times the number 2 appears in the tuple (1, 2, 3, 2, 4, 2).
a_tuple = (1, 2, 3, 2, 4, 2)
count_2 = a_tuple.count(2)
print(count_2)

3

In [28]:
#Q21. Write a code to find the index of the element "cat" in the tuple ('dog', 'cat', 'rabbit').
a_tuple = ('dog', 'cat', 'rabbit')
index_cat = a_tuple.index('cat')
print(index_cat)

1

In [29]:
#Q22. Write a code to check if the element "banana" is in the tuple ('apple', 'orange', 'banana').
a_tuple = ('apple', 'orange', 'banana')
is_banana = 'banana' in a_tuple
print(is_banana)

True

In [30]:
#Q23. Write a code to create a set with the elements 1, 2, 3, 4, 5 and print it.
a_set = {1, 2, 3, 4, 5}
print(a_set)

{1, 2, 3, 4, 5}

In [31]:
#Q24 Write a code to add the element 6 to the set {1, 2, 3, 4}.
a_set = {1, 2, 3, 4}
a_set.add(6)
print(a_set)

{1, 2, 3, 4, 6}